.App {
  text-align: center;
  --fb-primary-color: #3F206D !important;
  --fb-secondary-color: #CEAEFF !important;
  --fb-tertiary-color: #E9DBFE !important;
  --fb-final-color: #F2EDF9 !important;
  --fb-darker-color: #1A0D2D !important;
  font-family: var(--fb-font-family) !important;
  --fb-font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
